body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('https://plus.unsplash.com/premium_photo-1664299332779-5cadf16015a7?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center fixed;
    background-size: cover;
}

.container {
    width: 300px;
    padding: 20px;
    background-color: rgba(233, 225, 225, 0.856); /* Slightly transparent white */
    box-shadow: 0 0 10px rgba(188, 53, 53, 0.1);
    border-radius: 8px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #0c546a;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #0056b3;
}

.toggle-link {
    text-align: center;
    display: block;
    margin-top: 10px;
    color: #007BFF;
    cursor: pointer;
}

.toggle-link:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    font-size: 12px;
    display: none;
}
